*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#0f172a;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
color:#fff;
}

.success-card{
width:420px;
max-width:95%;
background:#1e293b;
padding:40px;
border-radius:18px;
text-align:center;
box-shadow:0 15px 40px rgba(0,0,0,.35);
}

.icon{
font-size:70px;
margin-bottom:20px;
}

h1{
margin-bottom:15px;
font-size:30px;
}

p{
font-size:18px;
margin-bottom:10px;
}

.small{
opacity:.7;
font-size:14px;
margin-bottom:30px;

}

button{
background:#00d084;
border:none;
color:#fff;
padding:14px 28px;
font-size:18px;
border-radius:10px;
cursor:pointer;
transition:.2s;
}

button:hover{
transform:scale(1.05);
}